<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wry.shiro.mapper.SysPermissionMapper">
  <resultMap id="BaseResultMap" type="com.wry.shiro.pojo.SysPermission">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="descritpion" jdbcType="VARCHAR" property="descritpion" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="method" jdbcType="VARCHAR" property="method" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, descritpion, url, pid, `method`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sys_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wry.shiro.pojo.SysPermission" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_permission (`name`, descritpion, url, 
      pid, `method`)
    values (#{name,jdbcType=VARCHAR}, #{descritpion,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{pid,jdbcType=INTEGER}, #{method,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wry.shiro.pojo.SysPermission" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="descritpion != null">
        descritpion,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="method != null">
        `method`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="descritpion != null">
        #{descritpion,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wry.shiro.pojo.SysPermission">
    <!--@mbg.generated-->
    update sys_permission
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="descritpion != null">
        descritpion = #{descritpion,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="method != null">
        `method` = #{method,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wry.shiro.pojo.SysPermission">
    <!--@mbg.generated-->
    update sys_permission
    set `name` = #{name,jdbcType=VARCHAR},
      descritpion = #{descritpion,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      `method` = #{method,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-05-26-->
  <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_permission
        where 1=1
        <if test="id != null">
            and id=#{id,jdbcType=INTEGER}
        </if>
        <if test="name != null">
            and `name`=#{name,jdbcType=VARCHAR}
        </if>
        <if test="descritpion != null">
            and descritpion=#{descritpion,jdbcType=VARCHAR}
        </if>
        <if test="url != null">
            and url=#{url,jdbcType=VARCHAR}
        </if>
        <if test="pid != null">
            and pid=#{pid,jdbcType=INTEGER}
        </if>
        <if test="method != null">
            and `method`=#{method,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>