<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wry.shiro.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.wry.shiro.pojo.SysRole">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <collection property="permissions" ofType="com.wry.shiro.pojo.SysPermission">
      <result column="per_name" property="name"/>
      <result column="per_id" property="id"/>
      <result column="per_desc" property="descritpion"/>
      <result column="per_method" property="method"/>
      <result column="per_url" property="url"/>
      <result column="per_pid" property="pid"/>
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sys_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wry.shiro.pojo.SysRole" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_role (`name`)
    values (#{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wry.shiro.pojo.SysRole" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wry.shiro.pojo.SysRole">
    <!--@mbg.generated-->
    update sys_role
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wry.shiro.pojo.SysRole">
    <!--@mbg.generated-->
    update sys_role
    set `name` = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-05-26-->
  <select id="findByAll" resultMap="BaseResultMap">
    SELECT
    sr.*,
    sp.id AS per_id,
    sp.NAME AS per_name,
    sp.descritpion AS per_desc,
    sp.url AS per_url,
    sp.pid AS per_pid,
    sp.method AS per_method
    FROM
    `sys_permission_role` spr
    LEFT JOIN sys_role sr ON spr.role_id = sr.id
    LEFT JOIN sys_permission sp ON spr.permission_id = sp.id
    WHERE
    1 =1
    <if test="id != null">
      and sr.id=#{id,jdbcType=INTEGER}
    </if>
    <if test="name != null">
      and sr.`name`=#{name,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>